<p>
  <label><%= l(:label_sudo_git_to_web_user)%></label>
  <%= image_tag((GitoliteHosting.sudo_git_to_web_user == true ? 'true.png' : 'exclamation.png'), :style => "vertical-align:bottom;") %>
  <em><%= (GitoliteHosting.sudo_git_to_web_user == true ? '' : GitoliteHosting.sudo_git_to_web_user) %></em>
  <br />
</p>

<br />

<p>
  <label><%= l(:label_sudo_web_to_git_user)%></label>
  <%= image_tag((GitoliteHosting.sudo_web_to_git_user == true ? 'true.png' : 'exclamation.png'), :style => "vertical-align:bottom;") %>
  <em><%= (GitoliteHosting.sudo_web_to_git_user == true ? '' : GitoliteHosting.sudo_web_to_git_user) %></em>
  <br />
</p>

<br />

<p>
  <label><%= l(:label_gitolite_admin_url)%></label>
  <%= GitoliteConfig.gitolite_admin_url %>
  <br />
</p>

<br />

<p>
  <label><%= l(:label_gitolite_browse_url)%></label>
  <% GitoliteConfig.gitolite_ssl_enabled? ? scheme = 'https' : scheme = 'http' %>
  <%= scheme %>://<%= GitoliteConfig.gitolite_server_domain %>/projects/&lt;project_name&gt;/repository/&lt;repository_name&gt;
  <br />
</p>

<br />

<p>
  <label><%= l(:label_gitolite_ssh_url)%></label>
  <%= GitoliteConfig.gitolite_user %>@<%= GitoliteConfig.gitolite_server_domain %>:&lt;repository_path&gt;
  <br />
</p>

<br />

<p>
  <label><%= l(:label_gitolite_http_url)%></label>
  <% GitoliteConfig.gitolite_ssl_enabled? ? scheme = 'https' : scheme = 'http' %>
  <%= scheme %>://&lt;redmine user&gt;@<%= GitoliteConfig.gitolite_server_domain %>/<%= GitoliteConfig.gitolite_smart_http_prefix %>/&lt;repository_path&gt;
  <br />
</p>

<br />

<p>
  <label>PATH Directories</label>
  <%= raw (ENV['PATH']).gsub(/:/, "<br/>") %>
  <br/>
</p>
